<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style=" text-align: center; ">SignUp page</h1>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Enter username"><br>
        <input type="email" name="email" placeholder="Enter Email"><br>
        <input type="password" name="password" placeholder="Enter password"><br>
        <input type="password" name="confirm_password" placeholder="Enter Confirm password"><br>
        <select name="role" id="">
            <option value="principal">Principal</option>
            <option value="teacher">Teacher</option>
            <option value="student">Student</option>
        </select>
        <br>
        <button type="submit">Register</button>
    </form>
</body>
</html>